<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<div>
  <p> I am dhruv solanki.</p>
  <p>View my github account using this link -> <a href="https://github.com/Dhruvsolanki345">Dhruvsolanki345</a></p>
</div>


</body>
</html>
